.client_image{
    padding: 20px;
    margin: 0;
}

.client_image img{
    height: 150px;
    display: inline-block;
    width: 150px;
    margin: 10px;
}

.headerEmail a{
    padding-top: 5px;
    font-weight: bold;
    font-size: 16px;
}

.headerEmail a:hover{
    color: #1dd7b2;
}

.sf-menu li{
    text-align: center;
    height: 68px;
}

.page4ColumnImage{
    width: 400px;
    height: 300px;
}

.photo .products{
    width: 253px;
    height: 253px;
}